/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-jun-2018, 12:09:39
    Author     : toshiba
*/
* {font: 1em/1.3 Arial, Helvetica, sans-serif; }



p { color: #555; }


#primero { color: #336699; }